@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	
}

.bdim{

	height: 680px;
	width: 100%;
    background-image: url('img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
	
}
.navbar{
	height: 70px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #c1c1c1;
	background-color: #e3f2c7;
}
.logo{
	height: 60px;
	width: auto;
	
	display: inline-block;
	font-weight: bold;
	color: #7030a0;
	font-size: 30px;
	line-height: 50px;
	
}

.logo >a{
	float: left;
	position: relative;
	height: 60px;
	color: #7030a0;
	width: auto;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 15px;
}

.navtab{
	float: right;
	position: relative;
	height: inherit;
	width: 370px;
	display: block;
	
}
.navtab >ul li a{
	height: 60px;
	width: inherit;
	
	display: inline-block;
	text-decoration: none;
	color: #7030a0;
	font-size: 20px;
	line-height: 50px;
	
}

.navtab >ul li{
	position: relative;
	float: left;
	height: 60px;
	width: auto;
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	
}
.clickbg{
	background-color: transparent;
}
.clickbg:hover{
	background-color: #ffc000 !important;
}
.clickbg:active{
	background-color: #ffc000 !important;
}
/*.navtab >ul li:hover{
	position: relative;
	
	height: 50px;
	width: auto;
	display: block;
	margin: 10px 15px;

	font-weight: bold;
	border-radius: 5px;
	background: linear-gradient(45deg, #D2B6B7,#c1c1c1);
	
	padding: 5px 10px;
	
}*/
.navtab >ul li a:hover{
	position: relative;
	
	height: 50px;
	width: auto;
	display: inline-block;
	color: burlywood;
	font-weight: bold;
	
	
}
.navtab >ul li a:active{
	position: relative;
	
	height: 50px;
	width: auto;
	display: inline-block;
	color: burlywood;
	font-weight: bold;
	
	
}

.navtab > ul{
	height: inherit;
	width: 100%;
	position: relative;
	display: block;
	
}
.cform{
	position: absolute;
	 top: 34%;
	left: 10%;
	

}
form{ 

	margin-left: 15px;
	width: inherit;
	padding: 10px;
	background-color: #e3f2c7;
	border: 1px solid #c1c1c1;
	border-radius: 5px;
	
}

.form_control{
	width: 98%;
	align-content: center;
	justify-content: center;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	background: transparent;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: bold;
	color: #3f3f3f;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	
}
form .submit{
	background-color: #ffc000;
	border-color: transparent;
	color: black;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	margin-top: 20px;
	letter-spacing: 2px;
	
}
form .submit:hover{
	background-color:#7030a0;
	
	cursor: pointer;
	
	
}

/*.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}*/

.pict2{
	position: absolute;
    top: 22%;
    left: 5px;
	color: #c1c1c1;
	display: block;
	background: linear-gradient(90deg,#000,transparent);
    content: '';
	
	font-family:Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-size: 16px;
	z-index: 1;
}
@media screen and (max-width:410px)
{
	.container{

	height: 600px;
	width: 100%;
    background-image: url('img/bg7.jpg');
    background-repeat: no-repeat;
    background-size: contain;
   
	
}
	
	
}
@media screen and (max-width:630px)
{
	
	.navbar{
	height: 120px;
	width: 100%;
	position: relative;
	
	background-color: #e3f2c7;
}
	
.navtab{
	float: right;
	position: relative;
	height: inherit;
	width: 370px;
	display: block;
	
}
.navtab >ul li a{
	height: 60px;
	width: inherit;
	
	display: inline-block;
	text-decoration: none;
	color: #7030a0;
	font-size: 20px;
	line-height: 50px;
	
}

.navtab >ul li{
	position: relative;
	float: left;
	height: 60px;
	width: auto;
	display: block;
	margin-left: 10px;
	margin-bottom: 5px;
	
}
/*.navtab >ul li:hover{
	position: relative;
	
	height: 50px;
	width: auto;
	display: block;
	margin: 10px 15px;

	font-weight: bold;
	border-radius: 5px;
	background: linear-gradient(45deg, #D2B6B7,#c1c1c1);
	
	padding: 5px 10px;
	
}*/
.navtab >ul li a:hover{
	position: relative;
	
	height: 50px;
	width: auto;
	display: inline-block;
	color: burlywood;
	font-weight: bold;
	
	
}

.navtab > ul{
	height: inherit;
	width: 100%;
	margin-left: 80px;
	position: relative;
	display: block;
	
}
	
}

